# Ignore java build files.
bin/
*.class

# Ignore image editing files.
*.pdn

# Ignore user data.
data/

# Ignore project submission information.
final project proposal.pdf
*.zip

# Ignore python.
*.py